<?xml version="1.0" encoding="utf-8"?>

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>  
  
  <applicationSettings xdt:Transform="Replace">
    <vubiz.apps.Properties.Settings>
      <setting name="vubiz_apps_cfib_handshakeAuthentication" serializeAs="String">
        <value>https://www.cfib-fcei.ca/webservices/handshakeAuthentication.asmx</value>
      </setting>
      <setting name="vubiz_apps_com_v8server" serializeAs="String">
        <value>http://corporate.vubiz.com/vubizWs/v8server.asmx</value>
      </setting>
      <setting name="vubiz_apps_simulate_Exchange" serializeAs="String">
        <value>http://corporate.vubiz.com/webservice/vuecommerce.asmx</value>
      </setting>
    </vubiz.apps.Properties.Settings>
  </applicationSettings>
  
</configuration>