<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="vubiz.apps.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>

  <system.web>
    <compilation debug="true" targetFramework="4.7.2"/>
    <httpRuntime targetFramework="4.5.2"/>
    <customErrors mode="Off"/>
  </system.web>

  <connectionStrings>
    <add name="apps" connectionString="Data Source=stagingdata,1400;   Initial Catalog=apps;Persist Security Info=True;User ID=apps;Password=C8WDEzy9HPzjnDpWcFYm5UXk" providerName="System.Data.SqlClient"/>
  </connectionStrings>

  <applicationSettings>
    <vubiz.apps.Properties.Settings>
      <setting name="vubiz_apps_com_v8server" serializeAs="String">
        <value>http://corporate.vubiz.com/vubizWs/v8server.asmx</value>
      </setting>
      <setting name="vubiz_apps_sim_Exchange" serializeAs="String">
        <value>http://localhost/webservice/vuecommerce.asmx</value>
      </setting>
      <setting name="vubiz_apps_cfib_handshakeAuthentication" serializeAs="String">
        <value>https://www.cfib-fcei.ca/webservices/handshakeAuthentication.asmx</value>
      </setting>
      <setting name="vubiz_apps_simulate_Exchange" serializeAs="String">
        <value>http://localhost/webservice/vuecommerce.asmx</value>
      </setting>
    </vubiz.apps.Properties.Settings>
  </applicationSettings>

  <system.net>
    <mailSettings>
      <smtp deliveryMethod="Network" from="info@vubiz.com">
        <network host="192.168.1.202" port="25"/>
      </smtp>
    </mailSettings>
  </system.net>

  <appSettings>
    <!--this parameter is where the RTE is hosted, either corporate or vubiz ... only used for certs and launching content-->
    <add key="rteHost" value="//corporate.vubiz.com"/>
    <!--<add key="rteHost" value="//vubiz.com" />-->
  </appSettings>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30AD4FE6B2A6AEED" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="NUglify" publicKeyToken="15BC7810AEC21B5E" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-1.5.10.0" newVersion="1.5.10.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="NUglify" publicKeyToken="15bc7810aec21b5e" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-1.6.4.0" newVersion="1.6.4.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

</configuration>
<!--ProjectGuid: B3553933-66D4-42E8-BA11-04B7A13BC758-->
