  .ele_programActivityDetails_table tr th { text-align: left; }

  .programActivityDetails_dates fieldset label { width: 200px; text-align: center; }

  .programActivityDetails_guests fieldset label { width: 200px; text-align: center; }
