/*#content_kidsPrograms .c2 { font-family: 'Comic Sans MS'; font-size: large; }
#content_kidsPrograms .tileSet { list-style-type: none; text-align: center; padding: 0 !important; margin: 20px 0 0 30px !important; }
  #content_kidsPrograms .tileSet .tile { display: table-row; vertical-align: top; margin: 0 8px 8px 0; width: 190px; height: 100px; padding: 5px 5px 2px 5px; border-radius: 0.3em; border-style: outset; border-width: 1px; display: inline-block; cursor: pointer; }
    #content_kidsPrograms .tileSet .tile .tileTitle { font-family: 'Comic Sans MS'; display: table-cell; width: 183px; height: 90px; font-size: 1.2em; font-weight: 500 !important; text-shadow: none; color: white; text-align: center; vertical-align: middle; margin: auto; }
  #content_kidsPrograms .tileSet #tile_1 { background-color: #096e4d; color: white; }
  #content_kidsPrograms .tileSet #tile_2 { background-color: #096e4d; color: white; }
  #content_kidsPrograms .tileSet #tile_3 { background-color: #096e4d; color: white; }*/


/*#content_kidsPrograms .c2 { font-family: 'Comic Sans MS'; font-size: large; }*/

/*#content_kidsPrograms .tileSet { list-style-type: none; text-align: center; padding: 0 !important; margin: 20px 0 0 30px !important; }
  #content_kidsPrograms .tileSet .tile { display: table-row; vertical-align: top; margin: 0 8px 8px 0; width: 190px; height: 100px; padding: 5px 5px 2px 5px; border-radius: 0.3em; border-style: outset; border-width: 1px; display: inline-block; cursor: pointer; }
    #content_kidsPrograms .tileSet .tile .tileTitle { font-family: 'Comic Sans MS'; display: table-cell; width: 183px; height: 90px; font-size: 1.2em; font-weight: 500 !important; text-shadow: none; color: white; text-align: center; vertical-align: middle; margin: auto; }
  #content_kidsPrograms .tileSet #tile_1 { background-color: #096e4d; color: white; }
  #content_kidsPrograms .tileSet #tile_2 { background-color: #096e4d; color: white; }
  #content_kidsPrograms .tileSet #tile_3 { background-color: #096e4d; color: white; }*/
